<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div *ngIf="dayWinner" class="container py-md">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <h1 class="text-white font-weight-light">{{dayWinner.name}} ganhou última votação</h1>
            <p class="lead text-white mt-4">Todos os dias é feito uma votação e definido o local de almoço. Participe você também.
            </p>
            <a [routerLink]="'/restaurants/' + dayWinner.id" class="btn btn-white mt-4">Ver Ganhador</a>
            <a href="#voting" class="btn btn-primary mt-4">Participar</a>
          </div>
          <div class="col-lg-6 mb-lg-auto">
            <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
              <a [routerLink]="'/restaurants/' + dayWinner.id">
                <img class="img-fluid" [src]="'assets/img/theme/' + dayWinner.image" alt="First slide">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section section-lg section-shaped" id="voting">
      <div class="shape shape-style-1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-md">
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-6">
            <h3 class="display-3">Vote e decida o próximo
              <span class=""> local de almoço da galera</span>
            </h3>
            <p class="lead">Lembre-se: o mesmo restaurantes não pode ser escolhido mais de uma vez por semana. Assim abrimos a possibilidade de novas experiências.</p>
            <div class="btn-wrapper">
              <a [routerLink]="['/restaurants']" class="btn btn-warning">Ver Restaurantes</a>
            </div>
          </div>
          <div class="col-lg-5 mb-lg-auto">
            <div class="transform-perspective-right">
              <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">
                    <small>Selecione um restaurante e confirme sua decisão</small>
                  </div>
                  <form role="form">
                    <div class="form-group" [ngClass]="{'focused':focus1===true}">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="ni ni-check-bold"></i>
                          </span>
                        </div>
                        <select class="form-control" placeholder="Restaurante" [disabled]="dataServ.votedToday" [(ngModel)]="selectedRestaurant" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let rest of restaurants" [value]="rest.id">{{rest.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="text-center">
                      <button id="botao-votar" *ngIf="!dataServ.votedToday" type="button" class="btn btn-success my-4" (click)="vote(classic2)">Votar</button>
                      <small id="voted-message" *ngIf="dataServ.votedToday">Obrigado por participar.</small>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<ng-template #classic2 let-c="close" let-d="dismiss">
  <div class="modal-content bg-gradient-success">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-notification">Confirmação de voto.</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="py-3 text-center">
        <i class="ni ni-check-bold ni-3x"></i>
        <h4 class="heading mt-4">Voto confirmado!</h4>
        <p>Sua fome está cada vez mais próxima de sua satistação.</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Ok</button>
    </div>
  </div>
</ng-template>